.center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.top{
    display: flex;
    align-items: flex-start;
}



.border {
    margin: 5px;
    padding: 5px;
    border: 3px solid;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9);
}

.background{
    margin: 5px;
    padding: 5px;
    border: 3px wavy;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.7);
}


.abilityScores{
    margin: 5px;
    padding: 5px;
    border: 3px solid;
    border-radius: 8px;
    line-height: 0.1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
}

.AIS{
    margin: 5px;
    padding: 5px;
    border: 3px solid;
    border-radius: 8px;
    line-height: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
}

.skills{
    width: 35px;
}

.stats{
    font-size: 35px;
    margin: 5px;
    padding: 5px;
}

.hp{
    line-height: 0.5;
}

.half{
    max-width: 50%;
}

.characterInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 10px;
    border-color: black;
}

.right{
    color: blue;
    

}

#characterSheetBody {
    padding: 50px;
    margin: 50px;
    border: 50px;
    background-image: url('wp7209101-fantasy-computer-wallpapers.jpg');
    background-size: cover;
    
}

#spellsBody {
    padding: 50px;
    margin: 50px;
    border: 50px;
    background-image: url('wp5619846-fantasy-computer-wallpapers.jpg');
    background-size: cover;
    
}

#nameAndInfo  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 10px;
}

#mainPage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#bottomSection{
    width: 76%;
}

#title{
    color: rgb(221, 94, 21);
}

