.center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.top{
    display: flex;
    align-items: flex-start;
}



.border {
    margin: 5px;
    padding: 5px;
    border: 3px solid;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9);
}

.background{
    margin: 5px;
    padding: 5px;
    border: 3px wavy;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.7);
}


.abilityScores{
    margin: 5px;
    padding: 5px;
    border: 3px solid;
    border-radius: 8px;
    line-height: 0.1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
}

.AIS{
    margin: 5px;
    padding: 5px;
    border: 3px solid;
    border-radius: 8px;
    line-height: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
}

.skills{
    width: 35px;
}

.stats{
    font-size: 35px;
    margin: 5px;
    padding: 5px;
}

.hp{
    line-height: 0.5;
}

.half{
    max-width: 50%;
}

.characterInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 10px;
    border-color: black;
}

.right{
    color:black;
    position: absolute;
    right: 20%;
}

.static {
    position: relative;
}

#charBody{
    background-image: url('wp7209101-fantasy-computer-wallpapers.jpg');
    background-size: cover;
}

#characterSheetBody {
    padding: 0px;
    margin: 0px;
    border: 0px;
    
    
}

#spellsBody {
    
    background-image: url('wp5619846-fantasy-computer-wallpapers.jpg');
    background-size: cover;
    
}

#spellSheetBody{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

#nameAndInfo  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 10px;
}

#mainPage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#bottomSection{
    width: 76%;
}

#title{
    color: rgb(221, 94, 21);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#spellsListDiv{
    max-height: 70vh;
    display: block;
    overflow: auto;
}


/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: purple;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 69px;
    border-radius: 3px;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: blue;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }